<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://www.w3schools.com/lib/w3-theme-blue-grey.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body class="w3-theme-l5">

            <div class="container">
                <center>
                    <h2>Welcome {{ user.username }}</h2>
                </center>
            </div>



<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">



            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">My Profile</h4>
                    <p class="w3-center">
                        <img alt="profile" class="w3-circle"
                                              src="/w3images/avatar3.png" style="height:106px;width:106px"></p>
                    <hr>
                    <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> {{ user.username }}</p>
                    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {% if user.user_type == 0 %}
                                      Admin
                                    {% elif user.user_type == 1 %}
                                      Adult User
                                    {% else %}
                                    Child User
                                      {% endif %}</p>
                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{ user.dob }}</p>
                    <p><i  class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> {{ user.email }}</p>

                </div>
            </div>
            <br>

            <!-- Accordion -->
            <div class="w3-card w3-round">
                <div class="w3-white">

                    <button class="w3-button w3-block w3-theme-l1 w3-left-align">
                        <a href="{% url 'profile' %}">Profile</a>
                    </button>

                    <button class="w3-button w3-block w3-theme-l1 w3-left-align">
                        <a href="{% url 'allUsers' %}">Manage Users</a>
                    </button>

                    <button class="w3-button w3-block w3-theme-l1 w3-left-align">
                        <a href="{% url 'manageBook' %}">Manage Books</a>
                    </button>

                    <button class="w3-button w3-block w3-theme-l1 w3-left-align">
                        <a href="{% url 'newBook' %}">Recently Added Books</a>
                    </button>

                </div>



            </div>
            </div>

            <!-- Middle Column -->
    <div class="w3-col m7">

                            <form action="{% url 'aSearch' %}"
                                  class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">

                            <input aria-describedby="basic-addon2" aria-label="Search" class="form-control" name="query"
                                   placeholder="Search for..." type="text">


                                    <button class="w3-button w3-theme" style="background-color: grey; color: white;"
                                            type="submit">
                                        Search
                                    </button></div></div></div></div>
               </form>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}

                    <a class="alert alert-success" style="color:red;"> {{ message }}</a>

                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br>

            <footer class="w3-container w3-theme-d3 w3-padding-16">
                                <table class="table">
                <tr>
                    <td width="200">
                        <a class="btn btn-primary" href="{% url 'logout' %}"
                           style="background-color: green; color: white;">Logout</a>
                        <a class="btn btn-primary" href="{% url 'home' %}"
                           style="background-color: green; color: white;">Home</a>
                    </td>

                </tr>
            </table>

</footer>



</body>
</html>
