{% load static %}
<html>
{% block body %}

    <head>
    <title>BookDetils</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
<body>

<div class="container">
    <center>
        <h2>Details of {{object.book_name}} book</h2>
    </center>
</div>
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">

            <div class="card mb-3">

                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

 <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Cover :</strong>
                 <img width="250" height="250" src={{object.cover_img}} alt="" class="d-block ui-w-100 rounded-circle">
                </li>
              <li class="list-group-item"><strong>Book Name:</strong> {{ object.book_name }}</li>
              <li class="list-group-item"><strong>Author :</strong> {{ object.author }}</li>
              <li class="list-group-item"><strong>Published Year :</strong> {{ object.published_year }}</li>
              <li class="list-group-item"><strong>Publisher :</strong> {{ object.publisher }}</li>
              <li class="list-group-item"><strong>Description:</strong> {{ object.book_description }}</li>
              <li class="list-group-item"><strong>Category of the Book :</strong>   {% if object.book_category == "0" %}
                                  General

                  {% elif object.book_category == "1" %}
                Child Friendly
                {% else %}
                Adults Only
                {% endif %}</li>
              <li class="list-group-item"><strong>Uploaded By :</strong> {{ object.uploaded_by }}</li>


            </ul>
        </div>
    </div>


            <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'manageBook' %}">Manage Books</a>
                    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
                    <a class="btn btn-primary" href="{% url 'admins' %}">Admin Panel</a>
                    <a href="{% url 'manageBook' %}"><button type="button" class="btn btn-success">Back</button></a>
                    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>



          </div>
        </div>
      </div>
    </div>
{% endblock %}
          </div>
          </div>
        </div>
</div>


<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
    var config = {
   "apiKey": "AIzaSyD1zDWPq2eQTFkka411bTJ70713VGSv6DY",
    "authDomain": "storebook-bfaf5.firebaseapp.com",
    "projectId": "storebook-bfaf5",
    "storageBucket": "storebook-bfaf5.appspot.com",
    "messagingSenderId": "41246072940",
    "appId": "1:41246072940:web:53c94572ac6d9a9ff43849",
    "measurementId": "G-EJXBPKLTL3",
    "databaseURL": ""
  };
  firebase.initializeApp(config);
  firebase = Firebase(config)
  storage = firebase.storage()



  function() {

        storage_file_path = "images/" + str(user.username)

       imgurl = storage.child(<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
    var config = {
   "apiKey": "AIzaSyD1zDWPq2eQTFkka411bTJ70713VGSv6DY",
    "authDomain": "storebook-bfaf5.firebaseapp.com",
    "projectId": "storebook-bfaf5",
    "storageBucket": "storebook-bfaf5.appspot.com",
    "messagingSenderId": "41246072940",
    "appId": "1:41246072940:web:53c94572ac6d9a9ff43849",
    "measurementId": "G-EJXBPKLTL3",
    "databaseURL": ""
  };
  firebase.initializeApp(config);
  firebase = Firebase(config)
  storage = firebase.storage()



  function() {

        storage_file_path = "images/" + str(object.book_name)

       imgurl = storage.child(storage_file_path.get_url(token='null'))
});
   }


</script>

</script>

</body>
</html>