<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container bootdey flex-grow-1 container-p-y">

            <div class="media align-items-center py-3 mb-3">
              <img src="https://console.firebase.google.com/u/0/project/storebook-bfaf5/storage/storebook-bfaf5.appspot.com/files/images/Angry dragon_angryDragon.jpg" alt="" class="d-block ui-w-100 rounded-circle">
              <div class="media-body ml-4">
                <h4 class="font-weight-bold mb-0">John Doe <span class="text-muted font-weight-normal">@johndoe</span></h4>
                <div class="text-muted mb-2"></div>
                <a href="javascript:void(0)" class="btn btn-primary btn-sm">Edit</a>&nbsp;
                <a href="javascript:void(0)" class="btn btn-default btn-sm">Profile</a>&nbsp;
                <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-body">
                <table class="table user-view-table m-0">
                  <tbody>
                    <tr>
                      <td>Registered:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Latest activity:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Active Status:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>User Type</td>
                    </tr>
                    <tr>
                      <td>Status:</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr class="border-light m-0">
              <div class="table-responsive">
                <table class="table card-table m-0">
                  <tbody>
                    <tr>
                      <th>Permission</th>
                      <th>Read</th>
                      <th>Write</th>
                      <th>Create</th>
                      <th>Delete</th>
                    </tr>
                    <tr>
                      <td><span class="fa fa-check text-primary"></span></td>
                      <td><span class="fa fa-times text-light"></span></td>
                      <td><span class="fa fa-times text-light"></span></td>
                      <td><span class="fa fa-times text-light"></span></td>
                    </tr>

                  </tbody>
                </table>


                <table class="table user-view-table m-0">
                  <tbody>
                    <tr>
                      <td>Username:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Name:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>E-mail:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Company:</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>

                <table class="table user-view-table m-0">
                  <tbody>
                    <tr>
                      <td>Birthday:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Phone:</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
